body{
    margin: 0;
      overflow: hidden;
      font-family: monospace;
    background-color: #222;
    color: #fff;
}

.container{
    position: relative;
    display: block;
    margin: .5rem;
    padding: .5rem;

    background-color: #222;
}

.top{
    position: relative;
    display: block;
    padding: .5rem;
    background-color: #111;
}

.middle{
    position: relative;
    display: block;
}

.topbar{
    display: block;
}

.left{
    position: relative;
    display: block;
    float: left;
    height: 90%;
   
}

.right{
    position: relative;
    display: block;
    float: right;
    height: 90vh;
}

canvas{
    position: absolute;
    display: block;
    cursor: crosshair;
    z-index: -1;
}
