body{
    margin: 0;
      overflow: hidden;
      font-family: monospace;
    background-color: #222;
    color: #fff;
}

main{
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

canvas{
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: crosshair;
}