body{
    margin: 0;
      overflow: hidden;
      font-family: monospace;
    background-color: #000;
    color: #fff;
}

main{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 60rem;
    height: 60rem;
    background-color: #111;
}

canvas{
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: crosshair;
}